<strong>Olá, {{ courier }}</strong>
<p>Houve um cancelamento da entrega abaixo:</p>
<p>
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <strong>Data/hora: </strong> {{ date }} <br />

</p>
